@font-face {
  font-family: poppins-semi-bold;
  src: url(../../public/assets/fonts/Poppins-SemiBold.ttf);
  font-display: swap;
}

@font-face {
  font-family: poppins-bold;
  src: url(../../public/assets/fonts/Poppins-Bold.ttf);
  font-display: swap;
}

@font-face {
  font-family: poppins-medium;
  src: url(../../public/assets/fonts/Poppins-Medium.ttf);
  font-display: swap;
}

@font-face {
  font-family: poppins-regular;
  src: url(../../public/assets/fonts/Poppins-Regular.ttf);
  font-display: swap;
}

@font-face {
  font-family: poppins-light;
  src: url(../../public/assets/fonts/Poppins-Light.ttf);
  font-display: swap;
}