//sidebar nav icon box
.iconBox {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: #FFFFFFaa;
  border-radius: 5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 !important;
}

//loader

.loader {
  border: 2px solid #f3f3f3;
  border-radius: 50%;
  border-top: 2px solid #3498db;
  width: 15px;
  height: 15px;
  -webkit-animation: spin 1s linear infinite;
  /* Safari */
  animation: spin 1s linear infinite;
}

.right-marked-list.check-white {
  li::before {
    content: "";
    background-image: url('/assets/img/check-white.svg');
    background-size: contain;
    display: inline-block;
    width: 15px;
    height: 15px;
    position: relative;
    background-repeat: no-repeat;
    top: 0.4rem;
    margin-right: 0.2rem;
  }
}

.right-marked-list.check-voilet {
  li::before {
    content: "";
    background-image: url('/assets/img/check.svg');
    background-size: contain;
    display: inline-block;
    width: 15px;
    height: 15px;
    position: relative;
    background-repeat: no-repeat;
    top: 0.4rem;
    margin-right: 0.2rem;
  }
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

p {
  margin: 0 !important;
}

.tx-u{

}
.br-5 {
  border-radius: 5px;
}

.br-10 {
  border-radius: 10px;
}

.oh {
  overflow: hidden;
}

.fs-12 {
  font-size: 12px;
}


.fs-14 {
  font-size: 14px;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}


.fs-20 {
  font-size: 20px;
}

.fs-22 {
  font-size: 22px !important;
}

.fs-24 {
  font-size: 24px !important;
}

.fs-26 {
  font-size: 26px !important;
}

.fs-28 {
  font-size: 28px !important;
}

.fs-30 {
  font-size: 30px !important;
}
.fs-35 {
  font-size: 35px !important;
}

.fs-40 {
  font-size: 40px;
}

.tx-d {
  color: $themeTxtColor;
}

.tx-w {
  color: #FFFFFF !important;
}

.tx-v {
  color: $themeVoilet;
}

.tu {
  text-decoration: underline;
}

.cp {
  cursor: pointer;
}

.tx-o {
  color: $themeOrange;
}

.ls-1 {
  letter-spacing: normal;
}

.ws-1 {
  word-spacing: normal;
}

p {
  margin: 0;
}

.br-0 {
  border-radius: 0;
}

.ff-l {
  font-family: poppins-light;
}

.ff-r {
  font-family: poppins-regular !important;
}

.ff-m {
  font-family: poppins-medium !important;
}

.ff-sb {
  font-family: poppins-semi-bold;
}

.ff-b {
  font-family: poppins-bold;
}

.ff-mono {
  font-family: 'SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace'
}

.bg-o {
  background-color: $themeOrange;
}

.bg-lo {
  background-color: $headerBG;
}

.bg-g-v {
  background: linear-gradient(225.48deg, #653374 7.15%, #970D81 92.16%);
}

.bx-11 {
  box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.05);
}

.h-115 {
  height: 115px;
}

.mh-100 {
  min-height: 100%;
}

.b-o {
  border: 1px solid $themeOrange;
}

.bl-o {
  border-left: 1px solid $themeOrange;
}

.br-o {
  border-right: 1px solid $themeOrange;
}

.bt-o {
  border-top: 1px solid $themeOrange;
}

.bb-o {
  border-bottom: 1px solid $themeOrange;
}

.bi-o {
  border: 1px solid transparent;
}

.bil-o {
  border-left: 1px solid transparent;
}

.bir-o {
  border-right: 1px solid transparent;
}

.bit-o {
  border-top: 1px solid transparent;
}

.bib-o {
  border-bottom: 1px solid transparent;
}

td {
  box-sizing: border-box !important;
}


pre {
  margin: 0;
}

.w-250 {
  width: 250px;
}

.w-30{
  width: 30% !important;
}

.w-40{
  width: 40% !important;
}

.w-50{
  width: 50% !important;
}

.w-60{
  width: 60% !important;
}

.w-70{
  width: 70% !important;
}

.w-80{
  width: 80% !important;
}

.w-90{
  width: 90% !important;
}

.w-100px {
  width: 100px;
}

.ant-select-item-option-selected{
  background-color: $bgLightPink !important;
}

.ant-modal-content{
  background-color: #FFF8F5 !important;
  border-radius: 8px !important;
  overflow: hidden !important;
}


.mie{
  margin-inline-end: 0 !important;
}