@import "./variables";

.from-header {

  .ant-select-selector {
    border: 0 !important;
    background-color: #F5DAD3 !important;
    width: 200px !important;
    height: 38px !important;
    display: flex !important;
    align-items: center !important;
    color: #444444 !important;
  }
}

.sl-wr {
  width: 100%;

  .sl-label {
    color: $themeVoilet;
    font-family: poppins-medium;
    font-size: 14px;
    margin-bottom: 5px;
  }

  .from-global {
    width: 100%;

    border: 1px solid $themeVoilet;
    border-radius: 5px;
    overflow: hidden;
    height: 45px;

    .ant-select-selector {
      border: 0 !important;
      width: 100% !important;
      height: 45px !important;
      display: flex !important;
      align-items: center !important;
      color: #444444 !important;

      .ant-select-selection-item {
        font-family: poppins-regular !important;
        font-size: 14px !important;
      }

    }
  }

  //date picker
  .ant-picker {
    width: 100% !important;
    height: 45px !important;
    border: 1px solid $themeVoilet !important;
  }

  //bottom info
  .input-tag {
    color: $themeTxtColor;
    font-size: 12px;
    text-align: right;
  }

}

// date range picker start
.date-range-wrapper {
  width: 100%;

  .dr-label {
    color: $themeVoilet;
    font-family: poppins-medium;
    font-size: 14px;
    margin-bottom: 5px;
  }

  .ant-picker-range {
    width: 100% !important;
    height: 45px !important;
    border: 1px solid $themeVoilet !important;
  }

}

// date range picker end


///custom input start


.simple-input {
  width: 100%;

  .input-label {
    color: $themeVoilet;
    font-family: poppins-medium;
    font-size: 14px;
    margin-bottom: 5px;

    sup {
      color: red;
    }
  }

  .ant-input {
    width: 100% !important;
    height: 45px !important;
    border: 1px solid $themeVoilet !important;
  }

  textarea.ant-input {
    height: auto !important;
  }


  .input-file-box {

    width: 100% !important;
    height: 45px !important;
    border: 1px solid $themeVoilet !important;
    display: flex;
    border-radius: 8px;
    overflow: hidden;

    box-sizing: border-box;
    margin: 0;
    padding: 4px 11px;
    color: rgba(0, 0, 0, 0.88);
    font-size: 14px;
    line-height: 1.5714285714285714;
    list-style: none;
    position: relative;
    width: 100%;
    min-width: 0;
    background-color: #ffffff;
    background-image: none;
    border-width: 1px;
    border-style: solid;
    border-color: #d9d9d9;
    border-radius: 6px;
    transition: all 0.2s;

    input {
      border: none;
      outline: none;
      height: 100% !important;
      // width: calc(100% - 60px);
      width: inherit;
    }

    .input-icon {
      height: 100% !important;
      width: 30px !important;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
  }

}

.input-tag-b {
  color: #444444;
  font-size: 12px;
  text-align: right;

  span {
    color: $themeOrange;
  }
}

///custom input end


/// input type radio start

.ant-radio-checked {
  .ant-radio-inner {
    background-color: $themeVoilet !important;
    color: $themeVoilet !important;
    border-color: $themeVoilet !important;
  }
}

.ant-radio-wrapper {
  span {
    font-family: poppins-regular !important;
    color: $themeTxtColor !important;
  }
}

/// input type radio end


/// otp input start

.otp-input {
  border: 1px solid rgba(103, 50, 117, 0.5);
  border-radius: 4px;
  height: 72px;
  width: 65px !important;
}

/// otp input end






/// input type password start

.ant-input-affix-wrapper {
  width: 100% !important;
  height: 45px !important;
  border: 1px solid #673275 !important;
  overflow: hidden;
  padding: 10px;


  .ant-input {
    width: 100% !important;
    border: none !important;
    height: auto !important;
  }

}

/// input type password end




/// input type error start
.in-error {
  color: red;
  font-size: 12px;
  font-family: poppins-light;
}

/// input type error end





/// ant-tabs-ink-bar-animated
.ant-tabs-ink-bar-animated {
  background-color: $themeOrange !important;
}



//////upload

.ant-upload-list.ant-upload-list-picture {
  display: flex;
}

.ant-upload-list-item-container {
  margin-right: 2em;
}


//////file upload
.ant-upload-list-item.ant-upload-list-item-done {
  margin: 0 !important;
}


/////////switch
.ant-switch.ant-switch-checked {
  background-color: $themeVoilet;
}

.ant-switch.ant-switch-checked:hover {
  background-color: $themeVoilet !important;
}


//////fileviewer
.fileviewer {
  width: 300px;
  height: 200px;
  border: 1px solid #c4c4c4;

  .f-header {
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-family: 'poppins-regular';
  }

  .f-body {
    width: 100%;
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .f-footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
  }

}