$bgLightPink: #F5DAD3;
$navItemBorder: #EA7A3A;
$themeOrange: #EA7A3A;
$themeOrangeDark: #ea5c0a;

$themeTextColor: #673275;
$themeVoilet: #673275;
$borderBottom: #EA7A3A;
$red: #0f0f0f;


$headerBG: #fff8f5;

$contentBG: #FFFFFF;
$btnTitle: #FFFFFF;

$themeTxtColor: #444444;
$orgTltColor: #653374;


//due date color
$dueRed: #FF0F0F;
$dueOrange: #EA7A3A;
$dueGreen: #4BB543;
